<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
<!-- Product details -->

  <Product 
    Manufacturer="PostgreSQL Global Development Group" 
    Id="838E187D-8B7A-473d-B93C-C8E970B15D2B"
    UpgradeCode="24BCA538-75A2-4a7f-B236-C99EFC2145DE"
    Name="psqlODBC"
    Version="$(var.VERSION)" 
    Language="1033">

<!-- Package details -->

    <Package
      Keywords="PostgreSQL, ODBC"
      Comments="PostgreSQL ODBC Driver"
      Manufacturer="PostgreSQL Global Development Group" 
      InstallerVersion="150"
      Languages="1033" 
      Compressed="yes" 
      SummaryCodepage="1252" />

<!-- Directories -->

    <Directory Id="TARGETDIR" Name="SourceDir">

       <!-- Shared assembly runtime for VS 2005 -->
       <Merge Id="msvcr80dll" Language="0" DiskId="1" SourceFile="$(var.PROGRAMCOM)/Microsoft_VC80_CRT_x86.msm"/>
       <Merge Id="msvcr80policy" Language="0" DiskId="1" SourceFile="$(var.PROGRAMCOM)/policy_8_0_Microsoft_VC80_CRT_x86.msm"/>

      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="BASEDIR" Name="psqlODBC">
          <Directory Id="SUBLOC" Name="$(var.SUBLOC)">
            <Directory Id="BINDIR" Name="bin">
              <Component Id="registration" Guid="4F0C04EB-ADCB-4fa8-B6A3-E9F74EA693F8">
                <RegistryValue KeyPath="yes" Type="string" Root="HKLM" Key="Software\psqlODBC" Name="Version" Value="$(var.VERSION)" />
              </Component>
              <Merge Id="psqlodbcm" DiskId="1" Language="1033" SourceFile="psqlodbc.msm" />
            </Directory>
            <Directory Id="DOCSDIR" Name="docs">
              <Component Id="docs" Guid="89DDBC52-9F0D-4846-91DC-09EECC87E42E">
                <File Id="docs.index.html" Name="index.html" DiskId="1" Source="../docs/index.html" KeyPath="yes" />
                <File Id="docs.config.html" Name="config.html" DiskId="1" Source="../docs/config.html" />
                <File Id="docs.config_opt.html" Name="config-opt.html" DiskId="1" Source="../docs/config-opt.html" />
                <File Id="docs.faq.html" Name="faq.html" DiskId="1" Source="../docs/faq.html" />
                <File Id="docs.howto_accesslo.html" Name="howto-accesslo.html" DiskId="1" Source="../docs/howto-accesslo.html" />
                <File Id="docs.howto_accessvba.html" Name="howto-accessvba.html" DiskId="1" Source="../docs/howto-accessvba.html" />
                <File Id="docs.howto_bo.html" Name="howto-bo.html" DiskId="1" Source="../docs/howto-bo.html" />
                <File Id="docs.howto_ch.html" Name="howto-ch.html" DiskId="1" Source="../docs/howto-ch.html" />
                <File Id="docs.howto_csharp.html" Name="howto-csharp.html" DiskId="1" Source="../docs/howto-csharp.html" />
                <File Id="docs.howto_vb.html" Name="howto-vb.html" DiskId="1" Source="../docs/howto-vb.html" />
                <File Id="docs.howto_vblo.html" Name="howto-vblo.html" DiskId="1" Source="../docs/howto-vblo.html" />
                <File Id="docs.release.html" Name="release.html" DiskId="1" Source="../docs/release.html" />
                <File Id="docs.unix_compilation.html" Name="unix-compilation.html" DiskId="1" Source="../docs/unix-compilation.html" />
                <File Id="docs.win32_compilation.html" Name="win32-compilation.html" DiskId="1" Source="../docs/win32-compilation.html" />

                <Shortcut Id="docs.index.html" Directory="SMDir" Name="Documentation index" Description="psqlODBC documentation, HOWTOs and FAQs" Advertise="yes" Show="normal" />
              </Component>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder" Name="." SourceName="Programs">
        <Directory Id="SMDir" Name="psqlODBC">
            <Component Id="smdir" Guid="{22288E09-B3B6-4181-907F-676099C20125}">
                <RegistryValue KeyPath="yes" Type="string" Root="HKCU" Key="Software\psqlODBC\SMDir Created" Value="y" />
                <RemoveFolder Id="SMDir" On="uninstall" />
            </Component>
        </Directory>
      </Directory>
    </Directory>

<!-- Features -->

    <Feature Id="psqlodbc" Title="psqlODBC" Level="1" Description="psqlODBC - The PostgreSQL ODBC Driver" ConfigurableDirectory="BASEDIR" Display="expand">
      <Feature Id="binaries" Title="ODBC Driver" Level="1" Description="The ODBC driver and supporting libraries.">
        <ComponentRef Id="registration" />
        <MergeRef Id="psqlodbcm" />
        <MergeRef Id="msvcr80dll" />
        <MergeRef Id="msvcr80policy" />
      </Feature>

      <Feature Id="docs" Title="Documentation" Level="4" Description="Documentation, FAQs and HOWTOs.">
        <ComponentRef Id="smdir" />
        <ComponentRef Id="docs" />
      </Feature>

    </Feature>
    <Media Id="1" EmbedCab="yes" Cabinet="psqlodbc.cab"/>

<!-- Properties -->

    <Property Id="ALLUSERS">2</Property>
    <Property Id="WIXUI_INSTALLDIR" Value="BASEDIR" />

<!-- UI -->

     <UIRef Id="WixUI_FeatureTree" />
     <WixVariable Id="WixUILicenseRtf" Value="lgpl.rtf" />
     <WixVariable Id="WixUIDialogBmp" Value="background.bmp" />
     <WixVariable Id="WixUIBannerBmp" Value="banner.bmp" />

  </Product>
</Wix>
