<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
  <Module 
    Id="psqlODBC (libpq)"
    Guid="5BFFAF7C-2B0A-4ea2-8348-86459DD8ADB8" 
    Version="$(var.VERSION)" 
    Language="1033">
    
    <Package 
      Id="DCD49637-94AD-49dc-9F8C-00322562E4B6" 
      Description="PostgreSQL ODBC Driver (libpq)"
      Keywords="PostgreSQL, ODBC" 
      Manufacturer="PostgreSQL Global Development Group" 
      InstallerVersion="110" 
      Platforms="Intel" 
      Languages="1033" 
      Compressed="yes" 
      SummaryCodepage="1252" />
    
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="BINDIR" Name=".">
        <Component Id="psqlodbc.files" Guid="F66FBDE8-2E5C-4759-A8DC-85052DAA1374">
        
          <!-- PostgreSQL -->
          <File Id="psqlodbclibpq.dll" LongName="psqlodbclibpq.dll" Name="psqlodXX.dll" KeyPath="yes" src="../Release/psqlodbclibpq.dll" />
          <File Id="libpq.dll" Name="libpq.dll" src="C:\Windows\System32\libpq.dll" />
          
          <!-- Gettext -->
          <File Id="libintl_2.dll" LongName="libintl-2.dll" Name="libintXX.dll" src="C:\Windows\System32\libintl-2.dll" />
          <File Id="libiconv_2.dll" LongName="libiconv-2.dll" Name="libicoXX.dll" src="C:\Windows\System32\libiconv-2.dll" />
          
          <!-- SSL -->
          <File Id="libeay32.dll" Name="libeay32.dll" src="C:\Windows\System32\libeay32.dll" />
          <File Id="ssleay32.dll" Name="ssleay32.dll" src="C:\Windows\System32\ssleay32.dll" />
          
          <!-- Note, installing the driver properly (IE, using ODBCDriver) has proven unreliable -->
          <!--       so we install the registry keys manually ourselves.                         -->
          <Registry Id="psqlodbc.reg.1" Root="HKLM" Key="SOFTWARE\ODBC\ODBCINST.INI\ODBC Drivers" Name="PostgreSQL-libpq" Type="string" Value="Installed" />
          <Registry Id="psqlodbc.reg.2" Root="HKLM" Key="SOFTWARE\ODBC\ODBCINST.INI\PostgreSQL-libpq" Name="APILevel" Type="string" Value="1" />
          <Registry Id="psqlodbc.reg.3" Root="HKLM" Key="SOFTWARE\ODBC\ODBCINST.INI\PostgreSQL-libpq" Name="ConnectFunctions" Type="string" Value="YYN" />
          <Registry Id="psqlodbc.reg.4" Root="HKLM" Key="SOFTWARE\ODBC\ODBCINST.INI\PostgreSQL-libpq" Name="Driver" Type="string" Value="[#psqlodbclibpq.dll]" />
          <Registry Id="psqlodbc.reg.5" Root="HKLM" Key="SOFTWARE\ODBC\ODBCINST.INI\PostgreSQL-libpq" Name="DriverODBCVer" Type="string" Value="03.00" />
          <Registry Id="psqlodbc.reg.6" Root="HKLM" Key="SOFTWARE\ODBC\ODBCINST.INI\PostgreSQL-libpq" Name="FileUsage" Type="string" Value="0" />
          <Registry Id="psqlodbc.reg.7" Root="HKLM" Key="SOFTWARE\ODBC\ODBCINST.INI\PostgreSQL-libpq" Name="Setup" Type="string" Value="[#psqlodbclibpq.dll]" />
          <Registry Id="psqlodbc.reg.8" Root="HKLM" Key="SOFTWARE\ODBC\ODBCINST.INI\PostgreSQL-libpq" Name="SQLLevel" Type="string" Value="1" />
          <Registry Id="psqlodbc.reg.9" Root="HKLM" Key="SOFTWARE\ODBC\ODBCINST.INI\PostgreSQL-libpq" Name="UsageCount" Type="integer" Value="1" />
        </Component>
      </Directory>
    </Directory>
     
  </Module>
</Wix>